/* CSS Resets */

* {
  margin: 0;
  padding: 0;
}

/* CSS Variables */

:root {
  --slate: #434455;
  --iris: #4d5ae5;
  --white: #ffffff;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --dairy: #fcfcfc;
}

/* INDEX PAGE */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

/* HEADER */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  padding: 24px 0;
  margin-right: 76px;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  /* HW4 */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top-header {
  display: flex;
  /* Not from HW3 Instructions */
  justify-content: space-between;
}

.nav,
.contacts {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Navigation Items */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* HW5 */
.active.link {
  color: var(--ocean);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item > .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  width: 100%;
}

.header-logo {
  color: var(--navy-blue);
}

.nav > .list {
  display: flex;
  gap: 40px;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
}

li > .link:hover,
li > .link:focus {
  color: var(--ocean);
}

/* Address */

.contacts {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding: 24px 0;
}

.contacts > .list {
  display: flex;
  gap: 40px;
}

/* MAIN */

/* First Section */

.hero-section {
  background-color: var(--navy-blue);
  padding: 188px 0;
  /* HW4 */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px, 1440px;
}

.main-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  /* HW5 */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* Second Section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.info .list-header,
.svc .list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  text-align: left;
}

.info .list-text,
.svc .list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: left;
}

.second-section {
  padding: 120px 0;
}

.info.list {
  display: flex;
  gap: 24px;
}

.info-card {
  flex-basis: calc((100% - 72px) / 4);
}

/* HW4 */

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

/* Third Section */

.header-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.third-section {
  padding-bottom: 120px;
}

.service.list {
  display: flex;
  gap: 24px;
}

.service-info {
  flex-basis: calc((100% - 48px) / 3);
}

/* Fourth Section */

.fourth-section {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team.list {
  display: flex;
  gap: 24px;
}

/* Reused third section header from main */

.team-member {
  background-color: var(--white);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  /* HW4 */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-info {
  padding: 32px 0;
}

.list-header {
  text-align: center;
  margin-bottom: 8px;
}

.list-text {
  text-align: center;
}

/* Reused item header from main  */

/* HW4 */
.socmed-info {
  display: flex;
  justify-content: center;
  gap: 24px;
  /* Not part of H4 instructions */
  margin-top: 8px;
}

.socmed-items {
  width: 40px;
  height: 40px;
}

.socmed-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* HW5 */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmed-link:hover,
.socmed-link:focus {
  background-color: var(--ocean);
}

.socmed-icon {
  fill: var(--cloud);
}

/* HW4 */
/* Fifth Section */

.fifth-section {
  padding: 120px 0;
}

.customer {
  display: flex;
  gap: 24px;
}

.customer-list {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  /* HW5 */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customer-icon {
  fill: currentColor;
}

/* FOOTER */

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-logo {
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer .link {
  display: inline-block;
  margin-bottom: 16px;
}

/* HW4 */

.footer > .container {
  display: flex;
  align-items: baseline;
}

.wrapper {
  margin-right: 120px;
}

.footer-socmed-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-socmed {
  display: flex;
  gap: 16px;
}

.footer-socmed-icon {
  width: 40px;
  height: 40px;
}

.footer-socmed-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* HW5 */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socmed-link:hover,
.footer-socmed-link:focus {
  background-color: var(--green);
}

.footer-socmed-svg {
  fill: var(--cloud);
}

/* FORTFOLIO PAGE */

/* Main */

/* Buttons */

.services-section {
  padding: 96px 0 120px 0;
}

.btn-menu {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  /* HW5 */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-menu:hover,
.btn-menu:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  /* HW4 */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Reused item header from main  */

/* Converting all images to block element */

img {
  display: block;
}

/* Services List */

.svc.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.svc-item {
  flex-basis: calc((100% - 48px) / 3);
}

.svc-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

/* HW4 */
.svc.link {
  display: block;
  /* HW5 */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svc.link:hover,
.svc.link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* HW5 */
.svc-img {
  position: relative;
  overflow: hidden;
}

.svc-img-desc {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svc.link:hover .svc-img-desc,
.svc.link:focus .svc-img-desc {
  transform: translateY(0%);
}

/* Modal */

.order-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-button-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--white);
}
